include CostPackage/Hard/*.csv
include CostPackage/Passengers/*.csv
include CostPackage/Cluster/*.csv
include CostPackage/MaintenanceCrew/*.csv
include CostPackage/Soft/*.csv
include CostPackage/CostScenario/*.csv
include CostPackage/Curfew/*.csv